body {
    background-image: url("../images/background.jpg");
    font-family: "Product Sans", sans-serif;
    height: 300px;
    width: 300px;
    margin: 0;
}

.header {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/background.jpg");
    padding: 5px;
    border-style: none none solid none;
    border-bottom-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
}

#popup-body {
    padding: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 0;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switch-slider {
    background-color: var(--main-green);
}

input:focus + .switch-slider {
    box-shadow: 0 0 1px var(--main-green);
}

input:checked + .switch-slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

/* Rounded sliders */
.switch-slider.round {
    border-radius: 34px;
}

.switch-slider.round:before {
    border-radius: 50%;
}

#home-button {
    cursor: pointer;
    transition: 0.3s;
    padding: 3px;
    width: 31px;
    border-radius: 5px;
}

#home-button:hover {
    background-color: #a6e3e3;
}

#projects-list h4 {
    margin: 0;
    font-size: 20px;
}

#current-project-area {
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--dark-blue);
    margin: 2px 0 0 0;
    cursor: pointer;
}

#current-project-area p {
    margin: 2px;
    font-size: 18px;
}

.dropdown-button {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-style: none none none solid;
    border-color: var(--dark-blue);
    outline: none;
    border-radius: 0 5px 5px 0;
    border-width: 1px;
    transition: 0.3s;
}

.dropdown-button img {
    height: 100%;
}
.dropdown-button:hover {
    background-color: #a6e3e3;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    max-height: 80px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1000;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropdown-content a {
    display: block;
    width: 100%;
    background-color: white;
    transition: 0.3s;
    font-size: 16px;
    padding: 2px 2px 2px 4px;
}

.dropdown-content a:hover {
    background-color: #a6e3e3;
    cursor: pointer;
}

.dropdown-content::-webkit-scrollbar {
    width: 6px;
}

.dropdown-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px var(--java-color);
    background-color: #a6e3e3;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--bright-turquoise);
}

.dropdown-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
}

.new-project-button {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}

.cancel-new-project {
    width: auto;
}

.cancel-new-project p {
    margin: 0;
}

.create-project-button {
    width: auto;
    height: 30px;
}

#new-project-form {
    display: flex;
    justify-content: space-between;
}

#new-project-form-area {
    margin-bottom: 5px;
}

#new-project-form-area p {
    color: red;
    font-size: 10px;
}